<?xml version="1.0"?>
<model>
  <name>bullet_net_interceptor</name>
  <version>1.0</version>
  <sdf version="1.9">model.sdf</sdf>
  <description>
    Mermi govdeli, tepeden taretli ag atan interceptor.
    Govde: cand_bullet (burun konisi kaldirildi).
    2 eksenli taret: pan +-100 deg, tilt -60..+30 deg. Namlu +X, ag ILERI atilir.
    Kutle: govde 1.940 + taret 0.350 = 2.290 kg kuru,
           ag yuklu 2.590 kg.
    ArduPilot FDM portu 9032/9033.
    Param dosyasi: config/bullet_net_interceptor.param
    Uretici: scripts/21_build_bullet_interceptor.py
  </description>
</model>
